# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android
android/.gradle/
android/.cxx/
android/build/
android/app/.cxx/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/admob.properties
**/*.keystore
**/*.jks

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
android/app/google-services.json
